@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
	--back: #efeef4;
	--theme: linear-gradient(to bottom, #13c6fc, #00b4fa, #00a1f6, #008cef, #0077e4, #0667cf, #0757bb, #0647a7, #023a88, #032e6a, #06224d, #071632);
}

body,
html {
	padding: 0;
	margin: 0;
	min-height: 100vh;
}

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	transition: 300ms all ease;
}

.background {
	background: var(--theme);
	height: 100vh;
	display: grid;
	place-items: center;
}

/* réglage de la taille et la couleur du carré*/
.paper {
	width: 400px;
	padding: 30px;
	background: rgb(255, 255, 255);
	box-shadow: 0 10px 32px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.header-title {
	font-size: 20px;
	font-weight: 700;
}

.header-title span {
	font-weight: 400;
	opacity: 0.5;
}

.radio-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px 0;
}

.lbl-radio {
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 15px;
	padding-left: 50px;
	position: relative;
	cursor: pointer;
}

.lbl-radio .content .title {
	font-weight: 600;
	margin-bottom: 7px;
}

.lbl-radio .content .subtext {
	opacity: 0.5;
	font-size: 14px;
}

.marker {
	width: 15px;
	height: 15px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	position: absolute;
	left: 20px;
	top: 40%;
}

input[type='radio']:checked + .lbl-radio {
	border-color: var(--theme);
}

input[type='radio']:checked + .lbl-radio > .marker {
	border: 8px solid black;
}

input[type='radio'] {
	display: none;
}
button {
    color: black ;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 0px solid #000000;
    font-family: 'Oswald';
    margin-top: 10px;
    background-color: white;
    text-align: center;
    padding : 12px;
    font-size: 12pt;
    -webkit-box-shadow: 0px 0px 50px #000000;
    -moz-box-shadow: 0px 0px 51px #000000;
    box-shadow: 0px 0px 50px #000000;   
}

/* suppression affichage de base lien*/

a:link, a:visited {
	color: black;
	text-decoration: none
}

/* animation lors passage de souris sur le lien*/

a:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    font-size: 12pt ;
    
}

